In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import _thread
!ls datasets

food_import_perc.csv  life_exp.csv	 urban_perc.csv
hdp_pc.csv	      tech_articles.csv

In [22]:
hdp = pd.read_csv('datasets/hdp_pc.csv')
hdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,25921.026050,27546.899390,24631.434860,24271.940420,25324.720360,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,369.835796,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2878.837144,3868.578883,3347.844850,3529.053482,4299.012889,4598.249988,4804.616884,4709.312024,3695.793748,3308.700233
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3603.013685,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3934.895394,4124.982390
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,48582.808460,47785.659090,43339.379870,39736.354060,41098.766940,38391.080870,40619.711300,42294.994730,36038.267600,36988.622030

In [33]:
hdp = pd.DataFrame(tabulka.iloc[:, [0,1,len(hdp.columns)-1]])
hdp.columns = ['krajina', 'kod_krajiny', 'hdp']
hdp.head()

NameError: name 'tabulka' is not defined

In [23]:
def opracuj_a_ukaz(tabulka, nazov_stlpca):
    tabulka = pd.DataFrame(tabulka.iloc[:, [1, len(tabulka.columns)-1]])
    tabulka.columns = ['kod_krajiny', nazov_stlpca]
    print(tabulka.head())
    print("")
    return tabulka

In [24]:
hdp = 
pocet_clankov = opracuj_a_ukaz(pd.read_csv('./datasets/tech_articles.csv'), "pocet_clankov")
dlzka_zivota = opracuj_a_ukaz(pd.read_csv('./datasets/life_exp.csv'), "dlzka_zivota")
perc_v_mestach = opracuj_a_ukaz(pd.read_csv('./datasets/urban_perc.csv'), "perc_v_mestach")
jedlo_import_perc = opracuj_a_ukaz(pd.read_csv('./datasets/food_import_perc.csv'), "jedlo_import_perc")

  kod_krajiny           hdp
0         ABW           NaN
1         AFG    561.778746
2         AGO   3308.700233
3         ALB   4124.982390
4         AND  36988.622030

  kod_krajiny  pocet_clankov
0         ABW            NaN
1         AFG           80.4
2         AGO           39.1
3         ALB          191.4
4         AND            7.9

  kod_krajiny  dlzka_zivota
0         ABW        75.867
1         AFG        63.673
2         AGO        61.547
3         ALB        78.345
4         AND           NaN

  kod_krajiny  perc_v_mestach
0         ABW          41.304
1         AFG          27.132
2         AGO          44.819
3         ALB          58.376
4         AND          84.612

  kod_krajiny  jedlo_import_perc
0         ABW          29.859899
1         AFG          23.559998
2         AGO                NaN
3         ALB          14.149751
4         AND                NaN

In [26]:
hlavna = pd.DataFrame(hdp)
hdp.head()

  kod_krajiny           hdp
0         ABW           NaN
1         AFG    561.778746
2         AGO   3308.700233
3         ALB   4124.982390
4         AND  36988.622030

In [27]:
def spoj_tabulky(hlavna, vedlajsia, stlpec, spojit_cez="kod_krajiny"):
    for index_hlavna, riadok_hlavna in hlavna.iterrows():
        for index_vedlajsia , riadok_vedlasia in vedlajsia.iterrows():
            if riadok_hlavna[spojit_cez] == riadok_vedlasia[spojit_cez]:
                hlavna.loc[index_hlavna ,stlpec] = vedlajsia.loc[ index_vedlajsia, stlpec]

In [28]:
spoj_tabulky(hlavna, pocet_clankov, "pocet_clankov")
spoj_tabulky(hlavna, dlzka_zivota, "dlzka_zivota")
spoj_tabulky(hlavna, perc_v_mestach, "perc_v_mestach")
spoj_tabulky(hlavna, jedlo_import_perc, "jedlo_import_perc")

In [29]:
hlavna.head()

,kod_krajiny,hdp,pocet_clankov,dlzka_zivota,perc_v_mestach,jedlo_import_perc
0,ABW,NaN,NaN,75.867,41.304,29.859899
1,AFG,561.778746,80.4,63.673,27.132,23.559998
2,AGO,3308.700233,39.1,61.547,44.819,NaN
3,ALB,4124.982390,191.4,78.345,58.376,14.149751
4,AND,36988.622030,7.9,NaN,84.612,NaN